<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="idea icon"></i>Blog Site</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>


        <div class="ui main text container segment">
                <div class="ui huge header">
                    <%= blog.title %>
                </div>
                <div class="ui top attached">
                    <div class="item">
                        <img class="ui large centered  rounded image" src="<%= blog.image %>">
                        <div class="content">
                            <span><%- blog.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%- blog.body %></p>
                        </div>
                        <a class="ui blue basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
                        <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                            <button class="ui red basic button">Delete</button>
                        </form>
                    </div>
                </div>
            </div>

 </body>
</html>
